<%
  custom = { :rows => @resource.typus_options_for(:form_rows) }
  options = options.merge!(custom)
%>

<li>
  <%= form.label attribute, label_text %>
  <%= form.cktext_area attribute, {:skin => "v2", :width => "700px", :toolbar=>'Easy'}.merge(options) %>
</li>