<fieldset id="new_skills">
  <% show_error_message_for(f.object) %>
  <div class="left w280 h450">
    <%= f.text_field :name, :label => "语言或者工具", :class => "text w280" %>
  </div>
  <div class="left w280 h450" style="margin-left: 20px;">
    <%= f.text_field :level, :label => "级别", :class => "text w280" %>
  </div>
  <div class="clearer">&nbsp;</div>
  <%= f.link_to_remove_fields "删除" %>
</fieldset>