/* Place your application-specific stylesheets for the admin panel here */

/*
.logo {
  height: 50px;
  width: 150px;
  background: transparent url(/images/logo.gif) no-repeat;
  text-indent: -10000px;
}

*/

fieldset {padding: 1.4em; margin: 1.5em 0 1.5em 0; border: 1px solid #ccc;}
legend {font-size: 1.2em; padding: 0px 10px 0px 10px;}