<fieldset>
  <legend>报表</legend>
  <h3>发布岗位数</h3>

  <div class="content-separator"></div>
  <h3>注册公司数</h3>

  <div class="content-separator"></div>
  <h3>应聘数</h3>

  <div class="content-separator"></div>
  <h3>注册应聘者</h3>

  <div class="content-separator"></div>
  <h3>IP数</h3>

  <div class="content-separator"></div>
  <h3>PV数</h3>
</fieldset>


<fieldset>
  <legend>本月统计</legend>

  <table class="data-table">
    <tr class="even">
      <th width="20%">IP量</th>
      <td width="30%"></td>
      <th width="20%">PV量</th>
      <td width="30%"></td>
    </tr>
    <tr class="even">
      <th>注册应聘者</th>
      <td></td>
      <th>注册公司</th>
      <td></td>
    </tr>
    <tr class="even">
      <th>应聘数</th>
      <td></td>
      <th>发布岗位数</th>
      <td></td>
    </tr>
  </table>
</fieldset>