<fieldset>
  <legend>报表</legend>
</fieldset>

<fieldset>
  <legend>统计</legend>
  
  <table class="data-table">
    <tr>
      <th width="20%">工作总数</th>
      <td width="30%"></td>
      <th width="20%">应聘总数</th>
      <td width="30%"></td>
    </tr>
    <tr>
      <th>公开</th>
      <td></td>
      <th>未阅读</th>
      <td></td>
    </tr>
    <tr>
      <th>关闭</th>
      <td></td>
      <th>接受</th>
      <td></td>
    </tr>
    <tr>
      <th>未审核</th>
      <td></td>
      <th>拒绝</th>
      <td></td>
    </tr>
    <tr>
      <th>高亮</th>
      <td></td>
      <th>未决定</th>
      <td></td>
    </tr>
  </table>
</fieldset>