<div class="section network-section">
  <!-- <div class="section-title">推荐企业</div> -->
  <div class="section-content">
    <img src="http://img03.taobaocdn.com/tps/i3/T1CI8KXndbXXXXXXXX-950-95.gif" class="left bordered" width="952"/>
    <div class="clearer">&nbsp;</div>

    <img src="https://s3.amazonaws.com/joblet-atom/companies/568/company_568_mini.png?1274684138" width="223" height="60" class="left bordered"/>
    <img src="https://s3.amazonaws.com/joblet-atom/companies/568/company_568_mini.png?1274684138" width="223" height="60" class="left bordered"/>
    <img src="https://s3.amazonaws.com/joblet-atom/companies/568/company_568_mini.png?1274684138" width="223" height="60" class="left bordered"/>
    <img src="https://s3.amazonaws.com/joblet-atom/companies/568/company_568_mini.png?1274684138" width="223" height="60" class="right bordered"/>
    <div class="clearer">&nbsp;</div>
  </div>
</div>