<div>
    <img src="http://img03.taobaocdn.com/tps/i3/T1CI8KXndbXXXXXXXX-950-95.gif" class="left" width="473"/>
    <img src="http://img03.taobaocdn.com/tps/i3/T1CI8KXndbXXXXXXXX-950-95.gif" class="right" width="473"/>
    <div class="clearer">&nbsp;</div>
</div>