<% companies = Company.limit(10).order("created_at DESC").all %>
<div class="section network-section w318 right">
	<div class="section-title">最新企业</div>
	<div class="section-content">
	  <% show_no_record(companies) do %>
		<ul class="nice-list">
		  <% companies.each do |company| %>
			<li>
			  <span style="font-weight: bold" class="right small_top_margin"><%= company.location %></span>
			  <h4><%= link_to company.name, company %></h4>
			  <%#= link_to image_tag(company.logo.url), company %>
			</li>
		  <% end %>
		</ul>
		<% end %>
	</div>
</div>