<% ads = Ad.slider_ads.opened %>

<% show_no_record(ads) do %>
  <div id="slider-center">
      <% ads.each do |ad| %>
        <a href="<%= ad.url %>" target="_blank">
          <%= image_tag(URI.escape( ad.image.url(:slideshow_small) ), :alt => ad.name) %>
          <span>
            <b><%= ad.name %></b>
            <p><%= raw ad.desc %></p>
          </span>
        </a>
      <% end %>
  </div>
<% end %>