<div id="slider">  
  <% Ad.slider_ads.each do |ad| %>
    <a href="<%= ad.url %>" target="_blank">
      <%= image_tag(ad.file.url(:slideshow), :alt => ad.name) %>
      <span>
        <b><%= ad.name %></b>
        <p><%= raw ad.desc %></p>
      </span>
    </a>
  <% end %>
</div>