<% title "用户登陆" %>

<div class='left w49p'>
  <h1>登陆</h1>
  <%= render :partial => "sessions/form" %>
</div>

<div class='right w49p'>
  <h1>注册</h1>
  <%= render :partial => "users/form" %>
</div>
<div class="clearer">&nbsp;</div>