<fieldset id="new_cover_letters">
  <% show_error_message_for(f.object) %>
  <%= f.text_field :name, :label => "保存名称", :class => "text", :style => "width: 98%;", :hint => "如中文求职信或者英文求职信。" %>
  <%= f.cktext_area(:content, :height => '200px', :toolbar=>'Basic', :skin => "office2003", :label => "求职信内容", :hint => raw("请仔细填写求职信，可以让公司有个好的印象。<a class='show_dialog' href='javascript:void(0)'>查看范文</a>")) %>
  <%= f.hidden_field :resume_id, :value => current_user.jobseeker.id %>
</fieldset>