<%= render "shared/ads/right_side/urgent_jobs", :locals => { :urgent_jobs => urgent_job_groups(8) } %>
<style>
  #slider { height:248px;overflow:hidden;}
  #urgent_jobs { width: 250px; float: left;}
  div.fix_height { width: 230px; }
</style>
<!--[if IE]>
<style type="text/css">
  #slider { height:251px; }
</style>
<![endif]-->

<div class="section network-section right" style="width: 700px">
	<div class="section-title">推荐企业</div>
	<div class="section-content">
	  <% companies = Ad.featured_companies.opened.with_theme(current_theme_site) %>
	  <% show_no_record(companies) do %>
  	<table class="data-table">
  		<tr>
  		  <% companies.each_with_index do |ad, i| %>
  			  <td class="with_tooltip" title="<%= ad.name %>" style="padding: 12px"><%= link_to image_tag(ad.image.url(:bottom_ad), :class => "aligncenter bordered bottom_ad_logo"), ad.url %></td>
  			  <%= raw "</tr><tr>" if (i+1)%3 == 0 and i != 1 %>
  			<% end %>
  		</tr>
  	</table>
  	<% end %>
	</div>
</div>