<div class="section network-section">
  <div class="section-title">推荐<%= current_theme_site %>企业</div>
  <div class="section-content">
    <% show_no_record(featured_companies = Ad.featured_companies.with_theme(current_theme_site).opened.limit(15)) do %>
    <table class="data-table">
      <tr>
        <% featured_companies.each_with_index do |ad, i| %>
          <td class="with_tooltip" title="<%= ad.name %>"><%= link_to image_tag(ad.image.url(:bottom_ad), :class => "aligncenter bordered bottom_ad_logo"), ad.url %></td>
          <%= raw "</tr><tr>" if (i+1)%5 == 0 and i != 1 %>
        <% end %>
      </tr>
    </table>
    <% end %>
  </div>
</div>