<div class="right sidebar" id="sidebar">
  <%= render "shared/ads/right_side/urgent_jobs" %>
  <br>
  <%= render "shared/ads/right_side/featured_companies" %>
</div>

<div class="clearer">&nbsp;</div>