<div class="right sidebar" id="sidebar">
  <%= render "shared/ads/right_side/urgent_jobs" %>
  <style> div.fix_height { width: 244px; } </style><br>
  <%= render "shared/ads/right_side/featured_companies" %>
</div>

<div class="clearer">&nbsp;</div>