.bundle
db/*.sqlite3
log
log/*.log
tmp/**/*
public/system/**/*
.DS_Store
db/sphinx
config/development.sphinx.conf
public/ckeditor_assets/**/*
config/database.yml
public/sitemap1.xml.gz
public/sitemap_index.xml.gz
tmp
config/xdict
