<fieldset>
  <%= f.error_messages %>
  <div class="left" class="w280 h450">
    <%= f.text_field :name, :label => "证书名", :class => "text w280" %>
  </div>
  <div class="left" class="w280 h450" style="margin-left: 10px;">
    <%= f.text_field :get_at, :label => "获得时间", :class => "text w280" %>
  </div>
  <%= f.link_to_remove_fields "删除" %>
</fieldset>