<table class="data-table">
  <tr>
    <th width="20%">证书名</th>
    <td width="30%"><%= item.name %></td>

    <th width="20%">获得时间</th>
    <td width="30%"><%= item.get_at.to_s_date %></td>
  </tr>
</table>