<fieldset id="new_languages">
  <%#= f.error_messages %>
  <div class="left" class="w280 h450">
    <%= f.text_field :name, :label => "语言", :class => "text w280", :hint => "请输入语言名称。" %>
  </div>
  <div class="left" class="w280 h450" style="margin-left: 10px;">
    <%= f.text_field :level, :label => "级别", :class => "text w280", :hint => "请输入级别或者分数。" %>
  </div>
  <%= f.link_to_remove_fields "删除" %>
</fieldset>