<% title "所有工作" %>

<div class="main" id="main-two-columns-right-sidebar">

  <!-- ### left main side -->
	<div class="left" id="main-left">
    <%= show_no_record(@jobs) do %>
      <% render :partial => "job", :collection => @jobs %>
    <% end %>

		<%= will_paginate @jobs %>
	</div>

  <!-- ### right side part -->
	<%= render "shared/right_side_column" %>

	<div class="clearer">&nbsp;</div>
</div>