<img alt="Theplant_logo" class="bordered" src="/system/logos/1/thumb/theplant_logo.png?1285818903">
<h2>岗位：高级Rails程序员 (杭州大浪软件技术有限公司)</h2>
<hr/>
<h3>基本信息</h3>
<ol>
  <li>工作地点: 浙江杭州</li>
  <li>薪资：6000-10000</li>
  <li>工作类型：全职</li>
  <li>工作类别：软件开发</li>
  <li>学历要求：本科及以上</li>
  <li>工作年限：1年以上</li>
  <li>招聘人数：3</li>
</ol>

<h3>工作内容</h3>
<p>Develop company project and client project.</p>

<h3>岗位要求</h3>
<p>
  1. Sharp, Get things done fast<br/>
  2. Using Mac/Linux 6+ months and continue loving to use<br/>
  3. Interested in developing web application and building services from scratch
</p>

<p>
  Would be good plus if you have<br/>
  1. Good English communication skills<br/>
  2. Involved in ruby/python open source projects<br/>
  3. Using Vim/Emacs/TextMate<br/>
  4. Experience with creating whole stack of an Web App from scratch<br/>
  5. Have good design feels<br/>
  6. Have a lots of ideas for building good web services</p>

<h3>福利待遇</h3>
<p>How much can I get paid?</p>
<p>Of course depends on individual, but the bottom line we pay is 7000RMB/month(the kind of person we think have great potential but need time to polish to become a kicks ass programmer.) and all other standard benifits you can get from other company.</p>

<h3>其他描述</h3>
<p>Process of hiring</p>
<p>1. 15 days work together remotely, paid trial. The idea is that we can get to work with you and see how you code, but you don't have to leave your current job if you are already working somewhere.<br/>
2. 3 months trail, paid full month salary that will be decided. Work remotely or move into Hangzhou office.<br/>
3. Become core team member of PowerPlant China</p>

<h3>福利待遇</h3>
包午餐 例如：包午餐<br/>
包住宿 例如：包住宿<br/>
公司分红 例如：公司分红<br/>
公司股份 1000股公司股票<br/>

<h3>公司希望得到回答的问题 您可以在您的求职信或者简历中回答这些问题。</h3>
手机<br/>
是否拥有iPhone/iPad<br/>
是否使用flickr<br/>
特长<br/>