<table class="data-table">
  <tr>
    <th width="20%">学校</th>
    <td width="30%"><%= item.name %></td>

    <th width="20%">专业</th>
    <td width="30%"><%= item.major %></td>
  </tr>
  <tr>
    <th>入学时间</th>
    <td><%= item.start_at.to_s_full_cn %></td>

    <th>毕业时间</th>
    <td><%= item.end_at.to_s_full_cn if item.end_at %></td>
  </tr>
</table>