<h3>介绍</h3>
<p>我们是国内首推以技术社区为招聘媒体的IT人才招聘网站。据调查互联网是IT工程师获取技术信息的最主要渠道，该类人群占比高达94.6%，其中近7成技术人忠爱BBS。
而我们的招聘系统又是与各类大中小的技术社区紧密结合的，用户可以直接在各技术社区看到您的招聘信息并且应聘，所以您再也不用到处发招聘贴求人了。</p>
<br>
<p>“结合技术社区，专注于IT人才招聘。” 这就是我们 - <b class="largest">ITJob.fm</b></p>