<fieldset class="optional_option w330">
  <% show_error_message_for(f.object) %>
  <div class="left">
    <%= f.text_field :name, :label => "名称", :class => "text", :style => "width: 90px" %>
  </div>
  <div class="left" style="margin-left: 10px;">
    <%= f.text_field :desc, :label => "描述", :class => "text", :style => "width: 205px" %>
  </div>
  <%= f.link_to_remove_fields "删除" %>  
</fieldset>