<fieldset class="middle_bottom_margin">
  <legend>过滤器</legend>
  <table class="filter">
    <tr>
      <th width="30">地区</th>
      <td>
        <% %w{全部 北京 上海 杭州 广州 深圳 青岛 南京 合肥 珠海 南宁 武汉 长沙 南昌 成都 大连 宁波}.each do |location| %>
          <% location_value = location == "全部" ? "" : location %>
          <%= company_filter_link_to :location => [location, location_value] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th width="30">规模</th>
      <td>
        <% CompanySize.to_sorted_a.insert(0, ["全部", ""]).each do |key, value| %>
           <%= company_filter_link_to :size => [key, value] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th width="30">类型</th>
      <td>
        <% CompanyType.to_sorted_a.insert(0, ["全部", ""]).each do |key, value| %>
           <%= company_filter_link_to :company_type => [key, value] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th width="30">行业</th>
      <td>
        <% CompanyIndustry.to_sorted_a.insert(0, ["全部", ""]).each do |key, value| %>
           <%= company_filter_link_to :industry => [key, value] %>
        <% end %>
      </td>
    </tr>
  </table>
</fieldset>