<div id="footer">
	<div class="left">&copy; 2003-2009 Simple Magazine <span class="text-separator">&rarr;</span> <a href="#">Home</a> <span class="text-separator">|</span><a href="#">News</a> <span class="text-separator">|</span> <a href="#">Politics</a> <span class="text-separator">|</span> <a href="#">Culture</a> <span class="text-separator">|</span> <a href="#">Sport</a> <span class="text-separator">|</span> <a href="#">Debate</a> <span class="text-separator">|</span> <a href="#">Entertainment</a></div>
	<div class="right"><a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a></div>
	<div class="clearer">&nbsp;</div>
</div>