<!-- foot dashboard -->
<% if content_for?(:footer_ad_zone) %>
  <%= yield(:footer_ad_zone) %>
<% end %>

<div class="content-separator-quite"></div>

<!-- ### footer links -->
<div id="footer">
	<div class="left">&copy; 2002-2010 ThePlant  <span class="text-separator">&rarr;</span>
	  <a href="#">首页</a> <span class="text-separator">|</span>
	  <a href="#">关于我们</a> <span class="text-separator">|</span>
	  <a href="#">收费标准</a> <span class="text-separator">|</span>
	  <a href="#">联系方式</a> <span class="text-separator">|</span>
	  <%= link_to "网站合作", new_partner_path %> <span class="text-separator">|</span>
	  <a href="#">企业服务</a>
	</div>
	<div class="right">Powered by <a href="http://theplant.jp/">The Plant</a></div>
	<div class="clearer">&nbsp;</div>
</div>