<div id="header">

	<div class="right" id="toolbar">
		Text size <a href="#" title="Larger text"><img src="/images/icon-plus.gif" width="20" height="20" alt="" /></a> <a href="#" title="Smaller text"><img src="/images/icon-minus.gif" width="20" height="20" alt="" /></a>
	</div>

	<div class="clearer">&nbsp;</div>

	<div id="site-title">
		<h1><a href="#">Simple Magazine</a> <span> / News</span></h1>
	</div>

	<div id="navigation">
		<div id="main-nav">
			<ul class="tabbed">
				<li class="current-tab"><a href="#">News</a></li>
				<li><a href="#">Politics</a></li>
				<li><a href="#">Culture</a></li>
				<li><a href="#">Sport</a></li>
				<li><a href="#">Debate</a></li>
				<li><a href="#">Entertainment</a></li>
			</ul>
			<div class="clearer">&nbsp;</div>
		</div>

		<div id="sub-nav">
			<ul class="tabbed">
				<li class="current-tab"><a href="/home/">Frontpage</a></li>
				<li><a href="/home/a">Style Demo</a></li>
				<li><a href="/home/b">Two Columns</a></li>
				<li><a href="/home/c">Single Column</a></li>
				<li><a href="/home/d">Archives</a></li>
				<li><a href="/home/e">Empty Page</a></li>
			</ul>
			<div class="clearer">&nbsp;</div>
		</div>
		
	</div>

</div>