<div class="left sidebar" id="sidebar">
	<div class="section">
		<div class="section-title">
			<div class="left">我的</div>
			<div class="right"><img src="/images/icon-time.gif" width="14" height="14" alt="" /></div>
			<div class="clearer">&nbsp;</div>
		</div>

		<div class="section-content">
			<ul class="nice-list">
			  <li>
					<div class="left"><a href="#">收藏的工作</a></div>
					<div class="right"></div>
					<div class="clearer">&nbsp;</div>
				</li>
				<li>
					<div class="left"><a href="#">应聘记录</a></div>
					<div class="right"></div>
					<div class="clearer">&nbsp;</div>
				</li>
				<li>
					<div class="left"><%= link_to "简历", jobseeker_resume_path %></div>
					<div class="right"><%= link_to "修改", edit_jobseeker_resume_path %></div>
					<div class="clearer">&nbsp;</div>
				</li>
				<li>
					<div class="left"><a href="#">订阅工作</a></div>
					<div class="right"></div>
					<div class="clearer">&nbsp;</div>
				</li>
				<li>
					<div class="left"><a href="#">高级服务</a></div>
					<div class="right">购买</div>
					<div class="clearer">&nbsp;</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="section network-section">
		<div class="section-title">帐号管理</div>
		<div class="section-content">
			<ul class="nice-list">
				<li><a href="#">个人信息</a></li>
				<li><a href="#">更改邮件</a></li>
				<li><a href="#">更改密码</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="clearer">&nbsp;</div>