<div class="content-separator-quite"></div>

<iframe id="footer_iframe" name="footer_iframe" class="autoHeight" width="100%" scrolling="auto" frameborder="0" src="/partner_site_footer"></iframe>

<div id="footer">
	<div class="right">Powered by <a href="http://itjob.fm/">ITJob.fm</a></div>
	<div class="clearer">&nbsp;</div>
</div>