<div class="left sidebar" id="sidebar">
	<div class="section">
		<div class="section-title">
			<div class="left">我的</div>
			<div class="right"><img src="/images/icon-time.gif" width="14" height="14" alt="" /></div>
			<div class="clearer">&nbsp;</div>
		</div>

		<div class="section-content">
			<ul class="nice-list">
				<li>
					<div class="left"><a href="#">广告位</a></div>
					<div class="right">添加</div>
					<div class="clearer">&nbsp;</div>
				</li>
				<li>
					<div class="left"><a href="#">收入情况</a></div>
					<div class="right"></div>
					<div class="clearer">&nbsp;</div>
				</li>
				<li>
					<div class="left"><a href="#">支付宝帐号</a></div>
					<div class="right"></div>
					<div class="clearer">&nbsp;</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="clearer">&nbsp;</div>