<!-- foot dashboard -->
<% if content_for?(:footer_ad_zone) %>
  <%= yield(:footer_ad_zone) %>
<% end %>
<div class="separator-quite"></div>

<iframe id="footer_iframe" name="footer_iframe" width="100%" height="<%= current_partner_site.footer_height %>" scrolling="no" frameborder="0" src="/partner_site_footer"></iframe>

<div id="footer">
	<div class="right">Powered by <a href="http://itjob.fm/">ITJob.fm</a></div>
	<div class="clearer">&nbsp;</div>
</div>