<fieldset>
  <legend>个人信息</legend>
  <div class="error form-error">错误信息</div>

  <div class="left" class="w300 h450">
    <p>
      <label for="input-1">姓名</label><br/>
      <input type="text" name="input-1" id="input-1" class="text w300" />
    </p>

    <p>
      <label for="input-1">性别</label><br/>
      <input type="text" name="input-1" id="input-1" class="text w300" />
    </p>

    <p>
      <label for="input-1">出生年月</label><br/>
      <select name="input-2" id="input-2">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </p>

    <p>
      <label for="input-1">户口所在地</label><br/>
      <select name="input-2" id="input-2">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
      到
      <select name="input-2" id="input-2">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </p>

    <p>
      <label for="input-1">现所在城市</label><br/>
      <select name="input-2" id="input-2">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
      到
      <select name="input-2" id="input-2">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </p>

    <p>
      <label for="input-1">邮箱</label><br/>
      <input type="text" name="input-1" id="input-1" class="text w300" />
    </p>

    <p>
      <label for="input-1">联系电话</label><br/>
      <input type="text" name="input-1" id="input-1" class="text w300" />
    </p>
    
    <p>
      <label for="input-1">个人照片</label><br/>
      <input type="file" name="input-1" id="input-1" class="text w300" />
    </p>
  </div>


  <div class="left" class="w300 h450" style="margin-left: 10px;">
    <p>
      <label for="input-1">工作年限</label><br/>
      <input type="text" name="input-1" id="input-1" class="text w300" />
    </p>

    <p>
      <label for="input-1">最高学历</label><br/>
      <input type="text" name="input-1" id="input-1" class="text w300" />
    </p>

    <p>
      <label for="input-1">专业</label><br/>
      <input type="text" name="input-1" id="input-1" class="text w300" />
    </p>

    <p>
      <label for="input-1">期待薪资</label><br/>
      <input type="text" name="input-1" id="input-1" class="text w300" />
    </p>

    <p>
      <label for="input-1">希望应聘的岗位</label><br/>
      <input type="text" name="input-1" id="input-1" class="text w300" />
    </p>

    <p>
      <label for="input-1">希望工作的地点</label><br/>
      <input type="text" name="input-1" id="input-1" class="text w300" />
    </p>

    <p>
      <label for="input-1">求职状态</label><br/>
      <input type="text" name="input-1" id="input-1" class="text w300" />
    </p>
  </div>
</fieldset>
<div class="clearer">&nbsp;</div>

<!-- ################ one to many info ################ -->
<fieldset>
  <legend>工作经历</legend>

  <fieldset>
    <div class="error form-error">错误信息</div>
    <p>
      <label for="input-1">公司名</label><br/>
      <input type="text" name="input-1" id="input-1" class="text" />
    </p>
    <p>
      <label for="input-1">职务</label><br/>
      <input type="text" name="input-1" id="input-1" class="text" />
    </p>
    <p>
      <label for="input-1">时间</label><br/>
      <select name="input-2" id="input-2">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
      到
      <select name="input-2" id="input-2">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </p>
    <p>
      <label for="input-1">性质</label><br/>
      <select name="input-2" id="input-2">
        <option>外资企业</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </p>
    <p>
      <label for="input-1">规模</label><br/>
      <select name="input-2" id="input-2">
        <option>100-1000人</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </p>
  </fieldset>

  <p><input type="submit" class="button right" value="添加工作经历" /></p>
</fieldset>

<!-- ### education -->
<fieldset>
  <legend>教育经历</legend>
  <fieldset>
    <div class="error form-error">错误信息</div>
    <p>
      <label for="input-1">学校</label><br/>
      <input type="text" name="input-1" id="input-1" class="text" />
    </p>
    <p>
      <label for="input-1">时间</label><br/>
      <select name="input-2" id="input-2">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
      到
      <select name="input-2" id="input-2">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </p>
    <p>
      <label for="input-1">专业</label><br/>
      <select name="input-2" id="input-2">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </p>
  </fieldset>

  <p><input type="submit" class="button right" value="添加工作经历" /></p>
</fieldset>

<!-- ### education -->
<fieldset>
  <legend>项目经验</legend>
  <fieldset>
    <div class="error form-error">错误信息</div>
    <p>
      <label for="input-1">项目名称</label><br/>
      <input type="text" name="input-1" id="input-1" class="text" />
    </p>
    <p>
      <label for="input-1">描述</label><br/>
      <textarea rows="10"></textarea>
    </p>
    <p>
      <label for="input-1">项目截图</label><br/>
      <input type="file" name="input-1" id="input-1" class="text" />
    </p>
  </fieldset>

  <p><input type="submit" class="button right" value="添加" /></p>
</fieldset>

<!-- ### education -->
<fieldset>
  <legend>技能</legend>
  <fieldset>
    <div class="error form-error">错误信息</div>
    <p>
      <label for="input-1">语言或者工具</label><br/>
      <select name="input-2" id="input-2">
        <option>photoshop</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>            </p>
    <p>
      <label for="input-1">级别</label><br/>
      <select name="input-2" id="input-2">
        <option>熟练</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </p>
  </fieldset>

  <p><input type="submit" class="button right" value="添加" /></p>
</fieldset>

<!-- ### education -->
<fieldset>
  <legend>证书</legend>
  <fieldset>
    <div class="error form-error">错误信息</div>
    <p>
      <label for="input-1">证书名</label><br/>
      <input type="text" name="input-1" id="input-1" class="text" />
    </p>
    <p>
      <label for="input-1">获得时间</label><br/>
      <input type="text" name="input-1" id="input-1" class="text" />
    </p>
  </fieldset>

  <p><input type="submit" class="button right" value="添加" /></p>
</fieldset>

<!-- ### education -->
<fieldset>
  <legend>外语能力</legend>
  <fieldset>
    <div class="error form-error">错误信息</div>
    <p>
      <label for="input-1">语种</label><br/>
      <select name="input-2" id="input-2">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </p>
    <p>
      <label for="input-1">级别</label><br/>
      <select name="input-2" id="input-2">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </p>
  </fieldset>

  <p><input type="submit" class="button right" value="添加" /></p>
</fieldset>

<fieldset>
  <legend>附件</legend>
  <fieldset>
    <div class="error form-error">错误信息</div>
    <p>
      <label for="input-1">附件名</label><br/>
      <input type="text" name="input-1" id="input-1" class="text" />
    </p>
    <p>
      <label for="input-1">URL</label><br/>
      <input type="text" name="input-1" id="input-1" class="text" />
    </p>
    <p>
      <label for="input-1">上传文件</label><br/>
      <input type="file" name="input-1" id="input-1" class="text" />
    </p>
    <p>
      <label for="input-1">描述</label><br/>
      <textarea rows="10"></textarea>
    </p>
  </fieldset>

  <p><input type="submit" class="button right" value="添加" /></p>
</fieldset>

<fieldset>
  <legend>求职信</legend>
  <fieldset>
    <div class="error form-error">错误信息</div>
    <p>
      <label for="input-1">名称</label><br/>
      <input type="text" name="input-1" id="input-1" class="text" />
    </p>
    <p>
      <label for="input-1">内容</label><br/>
      <textarea rows="10"></textarea>
    </p>
  </fieldset>

  <p><input type="submit" class="button right" value="添加" /></p>
</fieldset>