<h3 class="text-center" style="padding: 3em">
  <% if logged_in? %>
  简历创建成功，您可以开始投递简历。
  <% else %>
  简历创建成功，请登录您的邮箱去确认您的邮箱，否则不能登录，为了保证质量，敬请谅解，谢谢。
  <% end %>
  <br><%= link_to "回到首页", root_path %>
</h3>