<% title "新建简历" %>

<div class="main" id="main-two-columns-right-sidebar">
  <div class="right sidebar" id="sidebar-1">

  </div>

  <div class="left" id="main-left">
    <%= jobware_form_for @resume, :url => jobseeker_resume_path, :use_fieldset => false, :html => { :multipart => true } do |f| %>
      <%= render "form", :f => f %>
      <%= render "shared/new_user_form", :f => f %>
      <%= f.submit "创建简历", :class => "button right" %>
    <% end %>
  </div>

  <div class="clearer">&nbsp;</div>
</div>