<% title "新建简历" %>

<div class="main">
  <h1 class="left">求职者注册</h1>
  <h3 class="left middle_left_padding middle_top_padding"><%= link_to "已经有求职者帐号？", login_path(:applying_job => true) %></h3>
  <div class="clearer">&nbsp;</div>

  <p class="lite_background largest">请选择一种对您来说最适合您的简历形式进行填写。</p>
  <div style="width: 312px;" class="left h250">
    <fieldset>
      <legend>在线填写简历（推荐）</legend>
      <img src="/images/icons/resume_guide.jpg" class="center" />

      <div>
        <h4>优点：</h4>
        <ul>
          <li>公司不会担心附件或网站携带病毒，放心查看。</li>
          <li>让简历更完善。</li>
          <li>会被加入到人才库被其他公司或者猎头搜索。</li>
        </ul>

        <div class="right">
          <div class="btn"><%= link_to "填写在线简历", new_jobseeker_resume_path(:type => :builder), :class => "black" %><span></span></div>
        </div>
      </div>
    </fieldset>
  </div>

  <div style="width: 312px;" class="left middle_left_margin h250">
    <fieldset>
      <legend>文件简历</legend>
      <img src="/images/icons/file_resume.jpg" class="center" />

      <div>
        <h4>优点：</h4>
        <ul>
          <li>方便，简单，快速。</li>
          <li>维护容易。</li>
          <li>容易做到个性化。</li>
        </ul>

        <div class="right">
          <div class="btn"><%= link_to "上传文件简历", new_jobseeker_resume_path(:type => :file), :class => "black" %><span></span></div>
        </div>
      </div>
    </fieldset>
  </div>

  <div style="width: 312px;" class="left middle_left_margin">
    <fieldset>
      <legend>URL简历</legend>
      <img src="/images/icons/url_resume.jpg" class="center" />

      <div>
        <h4>优点：</h4>
        <ul>
          <li>方便，快速，简单。</li>
          <li>可以让企业获得更多侧面资料。</li>
          <li>容易做到个性化。</li>
        </ul>

        <div class="right">
          <div class="btn"><%= link_to "填写URL简历", new_jobseeker_resume_path(:type => :url), :class => "black" %><span></span></div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="clearer">&nbsp;</div>
</div>