<div class="main" id="main-two-columns-right-sidebar">

  <!-- ### left main side -->
	<div class="left" id="main-left">
	  <div class="post-meta archive-pagination">
			<div class="left"><a href="#">&#171; 上一页</a></div>
			<div class="right"><a href="#">下一页 &#187;</a></div>
			<div class="clearer">&nbsp;</div>
		</div>

    <% 5.times do %>
		<div class="post">
		  <!-- date -->
			<div class="archive-post-date">
				<div class="archive-post-day">37</div>
				<div class="archive-post-month">顶</div>
			</div>
			<!-- title and company -->
			<div class="archive-post-title">
				<h3><a href="http://templates.arcsin.se/simple-magazine-website-template/">高级Rails程序员</a> </h3>
				<div class="post-date"><a href="#">The Plant</a></div>
			</div>
			<!-- address and date -->
			<div class="archive-post-address">
				<h3>杭州</h3>
				<div class="post-date">2001年10月13日</div>
			</div>
			<div class="clearer">&nbsp;</div>
		</div>

		<div class="archive-separator"></div>

		<div class="post">
      <!-- date -->
			<div class="archive-post-date">
				<div class="archive-post-day">13</div>
				<div class="archive-post-month">顶</div>
			</div>
      <!-- title and company -->
			<div class="archive-post-title">
				<h3><a href="http://templates.arcsin.se/winterplain-website-template/">数据中心 - 数据库管理员 - mysql DBA</a></h3>
				<div class="post-company"><a href="#">阿里巴巴</a></div>
			</div>
      <!-- address and date -->
			<div class="archive-post-address">
				<h3>上海</h3>
				<div class="post-date">2001年10月13日</div>
			</div>
			<div class="clearer">&nbsp;</div>
		</div>

		<div class="archive-separator"></div>
		<% end %>

		<div class="post-meta archive-pagination">
			<div class="left"><a href="#">&#171; 上一页</a></div>
			<div class="right"><a href="#">下一页 &#187;</a></div>
			<div class="clearer">&nbsp;</div>
		</div>
	</div>



  <!-- ### right side part -->
	<div class="right sidebar" id="sidebar">
		<div class="section network-section">
			<div class="section-title">Network News</div>
			<div class="section-content">
				<ul class="nice-list">
				  <% 3.times do %>
					  <li><a href="#"><img src="/images/news-image-small-1.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
					  <li><a href="#"><img src="/images/news-image-small-2.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
					<% end %>
					<li><a href="#" class="more">更多公司 &#187;</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="clearer">&nbsp;</div>
</div>