<div class="main" id="main-two-columns-right-sidebar">

  <!-- ### left main side -->
	<div class="left" id="main-left">
	  <div class="success largest h250">
	    Slider Ads zone
		</div>

    <!-- ### highlighted -->
    <% 20.times do |i| %>
    <div class="ads-block <%= i%2 == 0 ? "left" : "right" %>">
		  <!-- logo -->
			<img src="/images/logos/akihabaranews_logo_en.jpg" class="logo" />
			<!-- title and company -->
			<div class="content">
				<h4><span class="city">全国</span><span class="title">招聘Rails高级游戏开发工程师</span></h4>
				<div class="desc">
  			  急聘Rails高级游戏开发工程师，月薪10k－20k，希望rails高级工程师加入。
  			</div>
			</div>
		</div>
		<% end %>
	</div>



  <!-- ### right side part -->
	<div class="right sidebar" id="sidebar">
	  <div class="section network-section">
			<div class="section-title">紧急招聘</div>
			<div class="section-content">
				<ul class="nice-list">
				  <% 5.times do %>
					<li><a href="#">10-15万年薪 在 <span style="font-weight: bold">杭州</span> 招 <span style="font-weight: bold">php项目经理</span></a></li>
					<li><a href="#">20-30万年薪 在 <span style="font-weight: bold">杭州</span> 招 <span style="font-weight: bold">RIA高级程序员</span></a></li>
				  <% end %>
				</ul>
			</div>
		</div>

		<div class="section network-section">
			<div class="section-title">推荐公司</div>
			<div class="section-content">
				<ul class="nice-list">
				  <li><a href="#"><img src="/images/logos/3yen_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/akihabaranews_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/amn_logo.png" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/bccjapan_logo_ja.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/japanprobe_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/thepinkcow_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/akihabaranews_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/japanprobe_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/bccjapan_logo_ja.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/japanprobe_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>

					<li><a href="/home/ad" class="more">更多公司 &#187;</a></li>
				</ul>
			</div>
		</div>
		
		<div class="section network-section">
			<div class="section-title">最新工作</div>
			<div class="section-content">
				<ul class="nice-list">
				  <% 5.times do %>
					<li><a href="#">10-15万年薪 在 <span style="font-weight: bold">杭州</span> 招 <span style="font-weight: bold">php项目经理</span></a></li>
					<li><a href="#">20-30万年薪 在 <span style="font-weight: bold">杭州</span> 招 <span style="font-weight: bold">RIA高级程序员</span></a></li>
				  <% end %>
					<li><a href="#" class="more">更多工作 &#187;</a></li>
				</ul>
			</div>
		</div>
	</div>


	<div class="clearer">&nbsp;</div>
</div>