<div class="main" id="main-two-columns-right-sidebar">

  <!-- ### left main side -->
	<div class="left" id="main-left">
    <!-- ### highlighted -->
		<div class="post notice">
		  <!-- logo -->
      <div class="company_logo">
        <a href="#"><img src="/images/logos/3yen_logo_en.jpg" width="200" alt="" class="aligncenter bordered" /></a>
      </div>

			<!-- title and company -->
			<div class="archive-post-title">
				<h3><a href="http://templates.arcsin.se/simple-magazine-website-template/">阿里巴巴中国</a> </h3>
				<div class="post-date"><a href="#">java, ecommerce, php, mysql</a></div>
			</div>

			<!-- address and date -->
			<div class="archive-post-address">
				<h3>杭州</h3>
				<div class="post-date">2001年10月13日</div>
			</div>
			<div class="clearer">&nbsp;</div>
		</div>

		<div class="archive-separator"></div>

		<div class="post notice">
		  <!-- logo -->
      <div class="company_logo">
        <a href="#"><img src="/images/logos/pingmag_logo_ja.jpg" width="200" alt="" class="aligncenter bordered" /></a>
      </div>

			<!-- title and company -->
			<div class="archive-post-title">
				<h3><a href="http://templates.arcsin.se/simple-magazine-website-template/">The Plant</a> </h3>
				<div class="post-date"><a href="#">Rails, CMS, PHP, Wordpress</a></div>
			</div>

			<!-- address and date -->
			<div class="archive-post-address">
				<h3>日本</h3>
				<div class="post-date">2001年10月13日</div>
			</div>
			<div class="clearer">&nbsp;</div>
		</div>

		<div class="archive-separator"></div>

    <% ["pingmag_logo_ja.jpg", "amn_logo.png", "thepinkcow_logo_en.jpg", "japaneconomynews_logo_en.jpg",
      "hiraganatimes_logo_ja.jpg", "japanprobe_logo_en.jpg", "pingmag_logo_ja.jpg", "powered_by_atomjobs_logo.png",
      "rubyjobs_logo_ja.jpg", "bccjapan_logo_ja.jpg", "amn_logo.png", "seekjapan_logo_en.jpg", "teij_logo_ja.jpg", "japaneconomynews_logo_en.jpg"].each do |logo| %>
		<div class="post">
		  <!-- logo -->
      <div class="company_logo">
        <a href="#"><img src="/images/logos/<%= logo %>" width="200" alt="" class="aligncenter bordered" /></a>
      </div>

			<!-- title and company -->
			<div class="archive-post-title">
				<h3><a href="http://templates.arcsin.se/simple-magazine-website-template/">The Plant</a> </h3>
				<div class="post-date"><a href="#">Rails, CMS, PHP, Wordpress</a></div>
			</div>

			<!-- address and date -->
			<div class="archive-post-address">
				<h3>杭州</h3>
				<div class="post-date">2001年10月13日</div>
			</div>
			<div class="clearer">&nbsp;</div>
		</div>

		<div class="archive-separator"></div>
		<% end %>

		<div class="post-meta archive-pagination">
			<div class="left"><a href="#">&#171; 上一页</a></div>
			<div class="right"><a href="#">下一页 &#187;</a></div>
			<div class="clearer">&nbsp;</div>
		</div>
	</div>



  <!-- ### right side part -->
	<div class="right sidebar" id="sidebar">
	  <div class="section network-section">
			<div class="section-title">猎头工作</div>
			<div class="section-content">
				<ul class="nice-list">
				  <% 4.times do %>
					<li><a href="#">10-15万年薪 在 <span style="font-weight: bold">杭州</span> 招 <span style="font-weight: bold">php项目经理</span></a></li>
					<li><a href="#">20-30万年薪 在 <span style="font-weight: bold">杭州</span> 招 <span style="font-weight: bold">RIA高级程序员</span></a></li>
					<li><a href="#">20-30万年薪 在 <span style="font-weight: bold">杭州</span> 招 <span style="font-weight: bold">Rails架构师</span></a></li>
				  <% end %>
					<li><a href="#" class="more">更多工作 &#187;</a></li>
				</ul>
			</div>
		</div>

		<div class="section network-section">
			<div class="section-title">推荐公司</div>
			<div class="section-content">
				<ul class="nice-list">
				  <li><a href="#"><img src="/images/logos/3yen_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/akihabaranews_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/amn_logo.png" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/bccjapan_logo_ja.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/japanprobe_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/thepinkcow_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/akihabaranews_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/japanprobe_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>

					<li><a href="/companies" class="more">更多公司 &#187;</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="clearer">&nbsp;</div>
</div>