<div class="main" id="main-two-columns-right-sidebar">

  <!-- ### left main side -->
	<div class="left" id="main-left">
    <div class="tabs">
			<% semantic_navigation "network-tabs", :html => {:class => "tabbed larger"} do |n| %>
        <%= n.item '工作信息', :link => "/home/ae" %>
        <%= n.item '公司信息', :link => '/home/af' %>
        <%= n.item '该公司所有工作', :link => '/home/ag' %>
      <% end %>
    </div>

		<div class="content-separator"></div>

		<div class="post">
			<img src="/images/logos/amn_logo.png" alt="" class="company_logo bordered" />

			<div class="company_info">
  			<h3>The Plant. Tokyo</h3>
  			<h5>Web development</h5>
   			<table class="data-table" style="width:480px">
  				<tr>
  					<th width="20%">公司地点</th>
  					<td width="30%">杭州</td>
  					<th width="20%">规模</th>
  					<td width="30%">10-100人</td>
  				</tr>
  				<tr>
  					<th>性质</th>
  					<td>外资</td>
  					<th>点击数</th>
  					<td>368</td>
  				</tr>
  			</table>
			</div>
		</div>

		<div class="content-separator"></div>

    <div class="post">
			<div class="post-body">
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="670" height="300" id="loader" align="middle">
        <param name="allowScriptAccess" value="sameDomain" />
        <param name="allowFullScreen" value="true" />
        <param name="FlashVars" value="paramXMLPath=http://theplant.jp/en/wp-content/plugins/slideshow/param.php?postid=1429" />
        <param name="movie" value="http://theplant.jp/en/wp-content/plugins/slideshow/slideshowpro.swf" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#121212" />
        <embed
          FlashVars="paramXMLPath=http://theplant.jp/en/wp-content/plugins/slideshow/param.php?postid=1429"
          src="http://theplant.jp/en/wp-content/plugins/slideshow/slideshowpro.swf"
          quality="best"
          bgcolor="#121212"
          width="670"
          height="300"
          name="loader" align="middle"
          allowScriptAccess="sameDomain"
          allowFullScreen="true"
          type="application/x-shockwave-flash"
          pluginspage="http://www.macromedia.com/go/getflashplayer" />
        </object>
			</div>
		</div>

    <div class="content-separator"></div>

    <div class="post">
			<div class="post-title"><h3>公司简介</h3></div>
			<div class="post-body">
			  <ul>
			   	<li>This template is distributed under a <a href="http://templates.arcsin.se/license/">Creative Commons Attribution 2.5 License</a>, which allows you to use and modify it for any purpose (personal and commercial), under the condition that you keep the provided credit links in the footer.</li>
  				<li>The latest template version and CMS conversions for platforms such as WordPress and Blogger can be found at the official <a href="http://templates.arcsin.se/simple-magazine-website-template/">Simple Magazine website template</a> page.</li>
  				<li>For more templates, questions and comments please visit <a href="http://templates.arcsin.se/">Arcsin Web Templates</a>.</li>
			  </ul>
			</div>
		</div>

		<div class="content-separator"></div>

		<div class="post">
			<div class="post-title"><h3>公司产品</h3></div>
			<div class="post-body">
  			<table class="data-table">
  				<tr>
  					<th width="30%"><img src="/images/logos/amn_logo.png" alt="" class="bordered w200" /></th>
  					<td width="70%">http://theplant.jp</td>
  				</tr>
  				<tr>
  					<th><img src="/images/logos/japanprobe_logo_en.jpg" alt="" class="bordered w200" /></th>
  					<td>
  					  http://japanprobe.jp
  					  主要是帮助人们分享知识
  					</td>
  				</tr>
  				<tr>
  					<th><img src="/images/logos/akihabaranews_logo_en.jpg" alt="" class="bordered w200" /></th>
  					<td>hr@theplant.jp</td>
  				</tr>
  			</table>
			</div>
		</div>

		<div class="content-separator"></div>

		<div class="post">
			<div class="post-title"><h3>联系方式</h3></div>
			<div class="post-body">
  			<table class="data-table">
  				<tr>
  					<th width="20%">网址</th>
  					<td width="80%">http://theplant.jp</td>
  				</tr>
  				<tr>
  					<th>公司地址</th>
  					<td>xxxxxxxxx</td>
  				</tr>
  				<tr>
  					<th>邮箱</th>
  					<td>hr@theplant.jp</td>
  				</tr>
  			</table>
			</div>
		</div>
	</div>



  <!-- ### right side part -->
	<div class="right sidebar" id="sidebar">
	  <div class="success text-center huge"><a href="#">发布工作</a></div>

	  <div class="section network-section">
			<div class="section-title">猎头工作</div>
			<div class="section-content">
				<ul class="nice-list">
				  <% 4.times do %>
					<li><a href="#">10-15万年薪 在 <span style="font-weight: bold">杭州</span> 招 <span style="font-weight: bold">php项目经理</span></a></li>
					<li><a href="#">20-30万年薪 在 <span style="font-weight: bold">杭州</span> 招 <span style="font-weight: bold">RIA高级程序员</span></a></li>
					<li><a href="#">20-30万年薪 在 <span style="font-weight: bold">杭州</span> 招 <span style="font-weight: bold">Rails架构师</span></a></li>
				  <% end %>
					<li><a href="#" class="more">更多工作 &#187;</a></li>
				</ul>
			</div>
		</div>

		<div class="section network-section">
			<div class="section-title">推荐公司</div>
			<div class="section-content">
				<ul class="nice-list">
				  <li><a href="#"><img src="/images/logos/3yen_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/akihabaranews_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/amn_logo.png" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/bccjapan_logo_ja.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/japanprobe_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/thepinkcow_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/akihabaranews_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>
				  <li><a href="#"><img src="/images/logos/japanprobe_logo_en.jpg" width="95%" alt="" class="aligncenter bordered" /></a></li>

					<li><a href="/companies" class="more">更多公司 &#187;</a></li>
				</ul>
			</div>
		</div>
	</div>


	<div class="clearer">&nbsp;</div>
</div>