<div class="main" id="main-three-columns">

	<div class="left sidebar" id="sidebar-1">
		Empty sidebar 1.
	</div>

	<div class="left sidebar" id="sidebar-2">
		Empty sidebar 2.
	</div>

	<div class="right" id="main-right">
		Empty main content.
	</div>

	<div class="clearer">&nbsp;</div>
</div>