<div class="main">

	<div class="post">
		<div class="post-title"><h2><a href="#">Template Information</a></h2></div>
		<div class="post-date">18:11, Sunday, August 2, 2009 by Viktor Persson</div>
		<div class="post-body">
			<p><a href="#"><img src="/images/news-image-big.jpg" alt="" class="bordered" /></a></p>
			<p class="large">This is a free website template by <a href="http://arcsin.se/">Arcsin</a>, built using tableless XHTML and CSS.</p>
			<p>This template is distributed under a <a href="http://templates.arcsin.se/license/">Creative Commons Attribution 2.5 License</a>, which allows you to use and modify it for any purpose (personal and commercial), under the condition that you keep the provided credit links in the footer.</p>
			<p>The latest template version and CMS conversions for platforms such as WordPress and Blogger can be found at the official <a href="http://templates.arcsin.se/simple-magazine-website-template/">Simple Magazine website template</a> page.</p>
			<p>For more templates, questions and comments please visit <a href="http://templates.arcsin.se/">Arcsin Web Templates</a>.</p>
			<a href="http://templates.arcsin.se/" class="more">Read more &#187;</a>
		</div>
	</div>

	<div class="content-separator"></div>

	<div class="post">
		<a href="#"><img src="/images/news-image-small-1.jpg" alt="" class="left bordered" /></a>
		<h3><a href="#">Article title</a></h3>
		<p>Integer diam elit, condimentum ac semper ut, tincidunt non diam. Ut congue rutrum justo at commodo. Aenean euismod tincidunt lorem scelerisque euismod.</p>
		<a href="#" class="more">Read more &#187;</a>
		<div class="clearer">&nbsp;</div>
	</div>

	<div class="content-separator"></div>

	<div class="post">
		<a href="#"><img src="/images/news-image-small-2.jpg" alt="" class="left bordered" /></a>
		<h3><a href="#">Second Article Title</a></h3>
		<p>Sed congue lacinia leo, sed dignissim odio pharetra vel. Fusce a dignissim dui. Fusce semper porttitor enim dapibus venenatis.</p>
		<a href="#" class="more">Read more &#187;</a>
		<div class="clearer">&nbsp;</div>
	</div>

	<div class="content-separator"></div>
</div>
