<div class="main" id="main-two-columns-right-sidebar">

  <div class="right sidebar" id="sidebar-1">
    Empty sidebar 1.
  </div>

  <div class="left" id="main-left">
    <form>
      <fieldset>
        <legend>公司信息</legend>

        <div class="error form-error">错误信息</div>

        <p>
          <label for="input-1">公司名</label><br/>
          <input type="text" name="input-1" id="input-1" class="text w600" />
        </p>

        <p>
          <label for="input-1">性质</label><br/>
          <select name="input-2" id="input-2">
            <option>国有企业</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </p>

        <p>
          <label for="input-2">规模</label><br/>
          <select name="input-2" id="input-2">
            <option>1-10人</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </p>

        <p>
          <label for="input-1">省市</label><br/>
          <select name="input-2" id="input-2">
            <option>浙江</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
          <select name="input-2" id="input-2">
            <option>杭州</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </p>

        <p>
          <label for="input-1">地址</label><br/>
          <input type="text" name="input-1" id="input-1" class="text w600" />
        </p>

        <p>
          <label for="input-1">网址</label><br/>
          <input type="text" name="input-1" id="input-1" class="text w600" />
        </p>

        <p>
          <label for="input-1">联系人</label>（不公开）<br/>
          <input type="text" name="input-1" id="input-1" class="text w600" />
        </p>

        <p>
          <label for="input-1">联系电话</label>（不公开）<br/>
          <input type="text" name="input-1" id="input-1" class="text w600" />
        </p>

        <p>
          <label for="input-3">公司简介</label><br/>
          <textarea name="input-3" id="input-3" rows="10" cols="90" class="w600"></textarea>
        </p>
      </fieldset>

      <fieldset>
        <legend>登陆帐号</legend>

        <div class="error form-error">错误信息</div>

        <p>
          <label for="input-1">邮箱</label><br/>
          <input type="text" name="input-1" id="input-1" class="text w600" />
          <span class="helper">长度控制在10到20位。</span>
        </p>

        <p>
          <label for="input-1">密码</label><br/>
          <input type="text" name="input-1" id="input-1" class="text w600" />
          <span class="helper">长度控制在10到20位。</span>
        </p>

        <p>
          <label for="input-1">确认密码</label><br/>
          <input type="text" name="input-1" id="input-1" class="text w600" />
          <span class="helper">长度控制在10到20位。</span>
        </p>
      </fieldset>

      <p>
        <div class="right">
          <a href="#">查看条款</a>
          <label for="input-7" class="checkbox">同意条款</label>
          <input type="checkbox" name="input-7" id="input-7" />

          <input type="submit" class="button" value="提交" />
        </div>
      </p>
    </form>
  </div>

  <div class="clearer">&nbsp;</div>
</div>