<div class="main" id="main-two-columns">

  <!-- ### main content -->
	<div class="right" id="main-right">
		<div class="post">
			<div class="post-title"><h2><a href="#">我的广告位</a></h2></div>
		</div>
		<div class="content-separator-quite"></div>

  	<div class="post">
			<div class="tabs">
  			<% semantic_navigation "network-tabs", :html => {:class => "tabbed"} do |n| %>
          <%= n.item '小部件', :link => "/home/i" %>
          <%= n.item '工作专栏', :link => '/home/j' %>
          <%= n.item '文内广告', :link => '/home/k' %>
        <% end %>
        <div class="base-line"></div>
      </div>

			<table class="data-table">
				<tr>
					<th>月份</th>
					<th>收入</th>
					<th>状态</th>
				</tr>
				<tr class="even">
					<td>2010年9月</td>
					<td>1,102</td>
					<td>已支付</td>
				</tr>
				<tr>
					<td>2010年10月</td>
					<td>1,102</td>
					<td>已支付</td>
				</tr>
				<tr class="even">
					<td>2010年11月</td>
					<td></td>
					<td>未结算</td>
				</tr>
				<tr>
					<th>总收入</th>
					<th>3,012</th>
					<th></th>
				</tr>
			</table>
		</div>
	</div>


  <!-- ### left side menu part -->
	<div class="left sidebar" id="sidebar">
		<div class="section">
			<div class="section-title">
				<div class="left">我的</div>
				<div class="right"><img src="/images/icon-time.gif" width="14" height="14" alt="" /></div>
				<div class="clearer">&nbsp;</div>
			</div>

			<div class="section-content">
				<ul class="nice-list">
					<li>
						<div class="left"><a href="#">广告位</a></div>
						<div class="right">添加</div>
						<div class="clearer">&nbsp;</div>
					</li>
					<li>
						<div class="left"><a href="#">收入情况</a></div>
						<div class="right"></div>
						<div class="clearer">&nbsp;</div>
					</li>
					<li>
						<div class="left"><a href="#">支付宝帐号</a></div>
						<div class="right"></div>
						<div class="clearer">&nbsp;</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="section network-section">
			<div class="section-title">帐号管理</div>
			<div class="section-content">
				<ul class="nice-list">
					<li><a href="#">个人信息</a></li>
					<li><a href="#">更改邮件</a></li>
					<li><a href="#">更改密码</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="clearer">&nbsp;</div>
</div>