<div class="main" id="main-two-columns">

  <!-- ### main content -->
	<div class="right" id="main-right">
		<div class="post">
			<div class="post-title"><h2><a href="#">个人信息</a></h2></div>
		</div>
		<div class="content-separator-quite"></div>

  	<div class="post">
  	  <form>
      		<fieldset>
            <legend>网站信息</legend>

            <div class="error form-error">错误信息</div>

            <p>
        			<label for="input-1">Textbox</label><br/>
        			<input type="text" name="input-1" id="input-1" class="text w600" />
        		</p>

        		<p>
        			<label for="input-1">Textbox</label><br/>
        			<input type="text" name="input-1" id="input-1" class="text w600" />
        		</p>

        		<p>
        			<label for="input-1">Textbox</label><br/>
        			<input type="text" name="input-1" id="input-1" class="text w600" />
        		</p>

        		<p>
        			<label for="input-1">Textbox</label><br/>
        			<input type="text" name="input-1" id="input-1" class="text w600" />
        		</p>

        		<p>
        			<label for="input-2">Droplist</label><br/>
        			<select name="input-2" id="input-2">
        				<option>Option 1</option>
        				<option>Option 2</option>
        				<option>Option 3</option>
        			</select>
        		</p>

        		<p>
        			<label for="input-3">Textarea</label><br/>
        			<textarea name="input-3" id="input-3" rows="10" cols="90" class="w600"></textarea>
        		</p>

        		<p>
        			<label>Radio Buttons</label><br/>
        			<input type="radio" name="input-4" id="input-4" /> <label for="input-4" class="radio">Option 1</label> <input type="radio" name="input-4" id="input-5" /> <label for="input-5" class="radio">Option 2</label> <input type="radio" name="input-4" id="input-6" /> <label for="input-6" class="radio">Option 3</label>
        		</p>

        		<p>
        			<label>Checkbox</label><br/>
        			<input type="checkbox" name="input-7" id="input-7" /> <label for="input-7" class="checkbox">Option</label>
        		</p>
          </fieldset>

          <fieldset>
            <legend>登陆帐号</legend>

            <div class="error form-error">错误信息</div>

            <p>
        			<label for="input-1">用户名</label><br/>
        			<input type="text" name="input-1" id="input-1" class="text w600" />
        			<span class="helper">长度控制在10到20位。</span>
        		</p>

        		<p>
        			<label for="input-1">邮箱</label><br/>
        			<input type="text" name="input-1" id="input-1" class="text w600" />
        			<span class="helper">长度控制在10到20位。</span>
        		</p>

        		<p>
        			<label for="input-1">密码</label><br/>
        			<input type="text" name="input-1" id="input-1" class="text w600" />
        			<span class="helper">长度控制在10到20位。</span>
        		</p>
          </fieldset>

          <p><input type="submit" class="button right" value="提交" /></p>
      </form>
		</div>
	</div>


  <!-- ### left side menu part -->
	<div class="left sidebar" id="sidebar">
		<div class="section">
			<div class="section-title">
				<div class="left">我的</div>
				<div class="right"><img src="/images/icon-time.gif" width="14" height="14" alt="" /></div>
				<div class="clearer">&nbsp;</div>
			</div>

			<div class="section-content">
				<ul class="nice-list">
					<li>
						<div class="left"><a href="#">广告位</a></div>
						<div class="right">添加</div>
						<div class="clearer">&nbsp;</div>
					</li>
					<li>
						<div class="left"><a href="#">收入情况</a></div>
						<div class="right"></div>
						<div class="clearer">&nbsp;</div>
					</li>
					<li>
						<div class="left"><a href="#">支付宝帐号</a></div>
						<div class="right"></div>
						<div class="clearer">&nbsp;</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="section network-section">
			<div class="section-title">帐号管理</div>
			<div class="section-content">
				<ul class="nice-list">
					<li><a href="#">个人信息</a></li>
					<li><a href="#">更改邮件</a></li>
					<li><a href="#">更改密码</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="clearer">&nbsp;</div>
</div>