<div class="main" id="main-two-columns">

  <!-- ### main content -->
	<div class="right" id="main-right">
		<div class="post">
      <div class="post-title"><h2><a href="#">高级服务</a></h2></div>
    </div>
    <div class="content-separator-quite"></div>

    <div class="post">
      <form>
        <fieldset>
          <legend>选择服务类型</legend>

          <div class="error form-error">错误信息</div>
          <p>
            <div class="left">
              <input type="checkbox" name="input-7" id="input-7" />
              <label for="input-7" class="checkbox large">简历高亮置顶</label>
            </div>
            <h3 class="right">
              20/月
            </h3>
          </p>
          <div class="clearer">&nbsp;</div>
          <p>
            <div class="left">
              <input type="checkbox" name="input-7" id="input-7" />
              <label for="input-7" class="checkbox large">短信提示简历动静</label>
            </div>
            <h3 class="right">
              30/月
            </h3>
          </p>
          <div class="clearer">&nbsp;</div><br>
          <p>
            <label for="input-1">选择使用时间</label><br/>
            <select name="input-2" id="input-2">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
            -
            <select name="input-2" id="input-2">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </p>

          <p><input type="submit" class="button right" value="提交" /></p>
        </fieldset>
      </form>
    </div>
	</div>

  <!-- ### left side menu part -->
	<div class="left sidebar" id="sidebar">
		<div class="section">
			<div class="section-title">
				<div class="left">我的</div>
				<div class="right"><img src="/images/icon-time.gif" width="14" height="14" alt="" /></div>
				<div class="clearer">&nbsp;</div>
			</div>

			<div class="section-content">
				<ul class="nice-list">
				  <li>
						<div class="left"><a href="#">应聘记录</a></div>
						<div class="right"></div>
						<div class="clearer">&nbsp;</div>
					</li>

				  <li>
						<div class="left"><a href="#">收藏的工作</a></div>
						<div class="right"></div>
						<div class="clearer">&nbsp;</div>
					</li>

					<li>
						<div class="left"><a href="#">简历</a></div>
						<div class="right"><%= link_to "完善", "/home/n" %></div>
						<div class="clearer">&nbsp;</div>
					</li>
					<li>
						<div class="left"><a href="#">订阅工作</a></div>
						<div class="right"></div>
						<div class="clearer">&nbsp;</div>
					</li>
					<li>
						<div class="left"><a href="#">高级服务</a></div>
						<div class="right"><%= link_to "购买", "/home/o" %></div>
						<div class="clearer">&nbsp;</div>
					</li>
					<li>
						<div class="left"><a href="#">消费管理</a></div>
						<div class="right">充值</div>
						<div class="clearer">&nbsp;</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="section network-section">
			<div class="section-title">帐号管理</div>
			<div class="section-content">
				<ul class="nice-list">
					<li><a href="#">个人信息</a></li>
					<li><a href="#">更改邮件</a></li>
					<li><a href="#">更改密码</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="clearer">&nbsp;</div>
</div>