<div class="main" id="main-two-columns">

  <!-- ### main content -->
	<div class="right" id="main-right">
		<div class="post">
      <div class="post-title"><h2><a href="#">高级服务</a></h2></div>
    </div>
    <div class="content-separator-quite"></div>

    <div class="post">
      <form>
        <fieldset>
          <legend>选择服务类型</legend>

          <div class="error form-error">错误信息</div>
          <p>
            <div class="left">
              <input type="checkbox" name="input-7" id="input-7" />
              <label for="input-7" class="checkbox large">简历高亮置顶</label>
            </div>
            <h3 class="right">
              20/月
            </h3>
          </p>
          <div class="clearer">&nbsp;</div>
          <p>
            <div class="left">
              <input type="checkbox" name="input-7" id="input-7" />
              <label for="input-7" class="checkbox large">短信提示简历动静</label>
            </div>
            <h3 class="right">
              30/月
            </h3>
          </p>
          <div class="clearer">&nbsp;</div><br>
          <p>
            <label for="input-1">选择使用时间</label><br/>
            <select name="input-2" id="input-2">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
            -
            <select name="input-2" id="input-2">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </p>

          <p><input type="submit" class="button right" value="提交" /></p>
        </fieldset>
      </form>
    </div>
	</div>

  <!-- ### left side menu part -->
  <%= render "shared/partner_menu" %>
</div>