<div class="center-wrapper w640" style="margin-top: 3em">
  <h4>问：itjob.fm是什么？</h4>
  <h4>答：</h4>
  <p>itjob.fm程序员招聘网前身是在日本的joblet.jp，是一个通过社区联盟来达到最佳招聘效果的网站。ThePlant现在在中国杭州创办了分公司，于是将joblet.jp的成功经验搬到国内。鉴于我们以前的经验和众多技术社区的合作一定能够给招聘公司做到最精准的人才招聘，我们有能力相信，创新的思维方式和行为方式会客户和市场带来更多的价值。作为一个专业的it开发人员招聘网站，itjob.fm始终以“做中国最大、最优质的it人才网站”为目标。我们的理念是“专注为您提供最专业的人才。”</p>
  <br>

  <h4>问：itjob.fm能为我做什么？</h4>
  <h4>答：</h4>
  <p>为企业—发布、管理招聘信息，任意搜索简历库，接收求职意向。我们庞大的人才数据库以及社区招聘模式为您提供最全面，最专业，最优质的it开发者，让您在最短时间内找到最合适的专业人才。</p>
  <p>为求职者─创建、管理简历，任意搜索招聘信息，在线工作申请。我们与中高端的it企业合作，严格的审核制度，让您足不出户就能找到好工作。</p>
  <p>为广告合作伙伴—优厚的有偿广告合作方式，让您不费余力便可得到可观的额外收入。</p>
  <br>

  <h4>问：为什么要选itjob.fm？</h4>
  <h4>答：</h4>
  <ul>
    <li>我们最大的优势就是和全国各大技术社区、论坛合作，开创社区招聘模式，这是同类网站无法比拟的。</li>
    <li>立足于服务IT行业的企业客户与求职者，专注于为IT行业企业与IT从业者提供业界最专业的招聘与求职服务;</li>
    <li>高精准的用户群，保证招聘效果;</li>
    <li>强大的搜索功能、精美的页面效果、严格的简历审核制度。 </li>
  </ul>

  <div class="clearer">&nbsp;</div>
</div>
