<% title "关于我们" %>

<div class="center-wrapper large" style="margin-top: 3em; width: 83%">

  <image src="/images/theplant/logo.png" class="center theplant_logo" id="theplant_logo"/>

  <h4 class="middle_top_margin">itjob.fm是什么？</h4>
  <p>
    <div class="right text-center">
      <p><image src="/images/theplant/joblet_top.jpg" width="150" /></p>
      <p class="small_top_margin">Joblet截图</p>
    </div>
    ITJob.fm程序员招聘网前身是在日本的Joblet.jp，是一个通过社区联盟来达到最佳招聘效果的网站。Joblet帮助了很多到日本生活和工作的外国人找到专门提供给外国人应聘的工作。
    The Plant现在在中国杭州创办了分公司，于是将joblet.jp的成功经验搬到国内。
    鉴于社区招聘的成功案例，我们本身又是一个以技术出身的公司，于是公司将中国的joblet定位于IT人才招聘，
    希望能够通过在日本的成功经验给中国的IT人才招聘市场带来新的奇迹。
  </p>
  <div class="clearer">&nbsp;</div>

  <h4 class="middle_top_margin">我们的优点：</h4>
  <ul class="advantage">
    <li>和全国各大技术社区、论坛合作，开创社区招聘模式，达到精准招聘；</li>
    <li>全身心专注于IT人才招聘，因为专注所以专业；</li>
    <li>高精准的用户群，保证招聘效果；</li>
    <li>帮助企业完善信息，使得展示效果更好，让求职者看到更多高质岗位信息；</li>
    <li>为技术社区带来新的利润点。</li>
  </ul>

  <h4 class="middle_top_margin">公司掠影：</h4>
  <image src="/images/theplant/office_1.jpg" class="center bordered"/><br>
  <image src="/images/theplant/office_2.jpg" class="center bordered"/><br>
  <image src="/images/theplant/office_3.jpg" class="center bordered"/>
  <div class="clearer">&nbsp;</div>
</div>


<script>
  $(function(){
    var ThePlantLogo = Backbone.Model.extend({
      defaults: {
          "name":     "theplant",
          "address":  "hangzhou"
      },

      changeWidth: function(){
        var width = Math.floor(Math.random() * 300);
        this.set({width: width});
      },
      error: function(model, error) {
        alert(error);
      },
      initialize: function(){
        // _.bindAll(this, "error");

        // this.bind('error', function(model, error) {
        //   alert(error);
        // });

        this.bind('change:name', function(model, name) {
          console.log(this.previous('name') + "," + name);
        });

        this.bind('change:width', function(model, width) {
          $('#theplant_logo').css({width: width});
        });
      },
      validate: function(attrs) {
        if (attrs.width < 100) {
          return "width should bigger than 100.";
        }
      },
      url: function() {
        return "/aboutus";
      },
      parse: function(response) {
        console.log(response.name);
      }
    });

    var TestView = Backbone.View.extend({
      tagName: "div",
      template: _.template($('.advantage').html()),
      className: "advantage",
      events: {
        "click li":     "say",
        "dbclick li":   "sayTwice"
      },
      say: function() {
        console.log("say");
      },
      sayTwice: function() {
        console.log("sayTwice");
      },
      initialize: function() {
        _.bindAll(this, "render");
      },
      render: function() {
        $(this.el).html(this.template(this.model.toJSON()));
        return this;
      }
    });

    window.testView = new TestView();
    window.testView.render();


    var WorkspaceController = Backbone.Controller.extend({
      routes: {
        "help":                 "help",    // #help
        "search/:query":        "search",  // #search/kiwis
        "search/:query/p:page": "search"   // #search/kiwis/p7
      },

      initialize: function(options) {
        this.route("help", "help", function(){
          alert("this is help page");
        });
      },

      help: function() {
        alert("help");
      },

      search: function(query, page) {
        alert("search," + query + "," + page);
      }
    });

    window.theplant_logo = new ThePlantLogo();
    window.theplant_logo.fetch();
    $("#theplant_logo").click(function(){
      theplant_logo.changeWidth();
    });

    window.contronller = new WorkspaceController();
    Backbone.history.start();
  });
</script>