<% title "广告服务" %>

<div class="center-wrapper large" style="margin-top: 3em; width: 83%">

  <image src="/images/theplant/logo.png" class="center"/>

  <h4 class="middle_top_margin">联系电话：</h4>
  <p class="large">0571-28820982</p>

  <h4 class="middle_top_margin">邮箱：</h4>
  <p class="large">itjob.fm@gmail.com</p>

  <h4 class="middle_top_margin">GTalk：</h4>
  <p class="large">hlxwell@gmail.com</p>

  <div class="clearer">&nbsp;</div>
</div>
