<div class="center-wrapper large" style="margin-top: 3em; width: 83%">

  <image src="/images/theplant/logo.png" class="center"/>

  <h4 class="middle_top_margin">联系电话：</h4>
  <p class="large">0571-28820982</p>

  <h4 class="middle_top_margin">邮箱：</h4>
  <p class="large">contact@itjob.fm</p>

  <h4 class="middle_top_margin">GTalk：</h4>
  <p class="large">hlxwell@gmail.com</p>

  <h4 class="middle_top_margin">地址：</h4>
  <p class="large">浙江省杭州市教工路18号 欧美中心 C1407 （百脑汇对面）</p>
  <image src="/images/theplant/map_google.png" class="center bordered"/>
  <br>
  <image src="/images/theplant/map_3d.png" class="center bordered"/>

  <div class="clearer">&nbsp;</div>
</div>
