<% title "公司声明" %>

<div class="center-wrapper large" style="margin-top: 3em; width: 83%">
  <image src="/images/theplant/logo.png" class="center"/>

  <h2 class="center">公司声明</h2>
  <h4 class="middle_top_margin">一、法律声明</h4>
  <h5>1、版权</h5>
  <p>杭州大浪软件技术有限公司（ The Plant Co., Ltd. ）拥有本网站内容及资源的版权， 受国家知识产权保护，未经杭州大浪软件技术有限公司（ The Plant Co., Ltd. ） 的明确书面许可，任何单位或个人不得以任何方式，以中文和任何文字作全部和局部复制、转载、引用。否则本公司将追究其法律责任。</p><br>

  <h5>2、网站使用</h5>
  <p class="bold">一、明确的禁止使用</p>
  <p>ITJob.fm只能用于合法目的，即个人寻找职业和雇主寻找雇员。ITJob.fm明确禁止任何其他用途，并要求所有使用者同意不用于下列任何一种用途：</p>
  <p>(1).在简历中心公布虚假的、不完整的或不准确的简历资料（包括为他人寻找全职或兼职工作之目的发布的简历），公布不是简历的资料，如意见、通知、商业广告或其他内容。</p>
  <p>(2).除非你有意申请该职位,否则不要回应职位数据库中任何一种就业机会。禁止本公司的竞争同行用此方法寻求与雇主的业务联络。</p>
  <p>(3).擅自删除或修改任何其他个人或公司公布的资料。</p>
  <p>(4).擅自打印、复制或使用有关雇员的任何个人资料或有关雇主的商业信息。未经同意，给公布信息 的个人或公司发电子邮件、打电话、寄信或进行其他任何形式的接触。</p><br>

  <p class="bold">二、网址安全法规</p>
  <p>禁止使用者破坏或企图破坏ITJob.fm的安全法规，其中包括：</p>
  <p>(1).接触未经许可的数据或进入未经许可的服务器或帐户。</p>
  <p>(2).没有得到许可，企图探查，扫描或测试系统或网络的弱点，或者破坏安全措施。</p>
  <p>(3).企图干涉对用户及网络的服务，包括，并不限于，通过超载，"邮件炸弹"或"摧毁"等手段，或。</p>
  <p>(4).发送促销，产品广告及服务的email;</p>
  <p>(5).伪造TCP/IP数据包名称或部分名称。</p>
  <p>使用者通过以上行为破坏系统或网络的，ITJob.fm将保留法律追究的权利。</p><br>

  <p class="bold">三、总则</p>
  <p>严禁出现下列三种情况：</p>
  <p>(1).违反任何现行法律法规；</p>
  <p>(2).侵犯他人的著作权及其他知识产权，侵害他人的商业机密或侵犯他人的隐私权等其他个人权利；</p>
  <p>(3).利用本网址传送、分发、储存属于诽谤、淫秽、威胁、辱骂性的材料，毁损他人材料。</p>

  <h4 class="middle_top_margin">二、隐私声明</h4>
  <p>除了本网站在用户协议的信息保密中提出的条款外，用户理解并同意，ITJob.fm在不公开姓名的情况下，可以为第三方提供综合性的资料。除非法律需要，在未经本人同意的情况下，ITJob.fm将不会向任何第三方公开用户姓名、地址、电子邮件和电话等相关资料。</p>

  <h4 class="middle_top_margin">三、暂停使用，终止使用</h4>
  <p>经ITJob.fm确定已违反了网站使用规则某一项规定的任何使用者，将收到一份书面警告。如果该使用者同意以书面形式表示自己再也不会有违犯行为，ITJob.fm可以确定是否给予暂停使用的处理;而对屡次违犯法规者，本网站无需再发通知，立即作出暂停使用或终止使用的处理。同时，如果我们认为必要时，也可不提出警告而马上暂停或终止对该使用者的服务。</p>

  <h4 class="middle_top_margin">四、责任声明</h4>
  <p>用户使用本网站将承担一定风险。本网站的的材料按"正如……的情况"提供，我们对材料不作任何明示的或暗示的保证，并且不能保证材料的特殊目的不受阻挠或不出错误、不能保证错误一定能得到纠正，也不能保证本网站或制成本网址的材料不会含有病毒或其他有害成分。在涉及有关材料的使用或使用结果方面，我们对材料的正确性、准确性、可靠性及其他同时不作出任何保证或说明。用户将承担因此而造成的一切必要的服务、修补和改正费用，除非现行的法律法规另有明文规定。</p>

  <h4 class="middle_top_margin">五、其他声明</h4>
  <ol>
    <li>用户协议和公司声明中，所涉及的“ITJob.fm”、“我们”、“本网站”、“本网址”等名称都是指 ITJob.fm。而所涉及的“用户”、“使用者”、“你”都是指除了本网站以外的任何个人或单位。</li>
    <li>本网站具有更改及删除用户协议或公司声明中的任何一项条款之权利，并对所有条款持有最终解释权。</li>
  </ol>
</div>


