<div class="main">

  <!-- right main content zone -->
	<div class="right" id="main-right">
		<h2>最佳程序员招聘渠道</h2>
    <p><img src="/images/aaa.png"/></p>
		<div class="clearer">&nbsp;</div>
	</div>

	<div class="clearer">&nbsp;</div>
</div>