<div class="center-wrapper large" style="margin-top: 3em; width: 83%">

  <image src="/images/theplant/logo.png" class="center"/>

  <h4 class="middle_top_margin">ITJob.fm猎头服务介绍</h4>
  <p>
    ITJob.fm猎头服务，主要通过社区和社交网站，通过业内人士的眼光帮您最快的找到适合的人才，有意者可来电或者在线联系我们。
  </p>
  <div class="clearer">&nbsp;</div>

  <h4 class="middle_top_margin">联系电话：</h4>
  <p class="large">0571-28820982</p>

  <h4 class="middle_top_margin">邮箱：</h4>
  <p class="large">recruiter@itjob.fm</p>

  <h4 class="middle_top_margin">GTalk：</h4>
  <p class="large">hlxwell@gmail.com</p>

  <h4 class="middle_top_margin">QQ：</h4>
  <p class="large">937908734</p>

  <div class="clearer">&nbsp;</div>
</div>
