<% image_size ||= :slideshow %>
<div class="post">
  <div class="post-title">    
    <% if image_size == :slideshow %>
      <h2><%= presentation.name %></h2>
    <% else %>
      <h5><%= presentation.name %></h5>
    <% end %>
  </div>
  <div class="post-body">
    <%= image_tag presentation.file.url(image_size), :class => "lazyload" %>
  </div>
  <div class="large middle_top_margin">
   <%= raw presentation.desc %>
  </div>
</div>
<div class="content-separator"></div>