<% title "所有公司" %>

<div class="main" id="main-two-columns-right-sidebar">
  <!-- ### left main side -->
	<div class="left" id="main-left">
	  <%= show_no_record(@companies) do %>
	    <% render :partial => "company", :collection => @companies %>
    <% end %>
		<%= will_paginate @companies %>
	</div>

  <!-- ### right side part -->
  <%= render "shared/right_side_column" %>
</div>