<% title "所有公司" %>

<div class="main" id="main-two-columns-right-sidebar">
  <!-- ### left main side -->
	<div class="left" id="main-left">
	  <%= render "shared/company_tags" if current_theme_site.nil? %>
    <br>

	  <% show_no_record(@companies) do %>
	    <%= render :partial => "company", :collection => @companies %>
    <% end %>
		<%= will_paginate @companies %>
	</div>

  <!-- ### right side part -->
  <%= render "shared/ads/right_side_ads" %>
</div>