<% title "加入我们" %>

<div class="main" id="main-two-columns-right-sidebar">
  <div class="right sidebar" id="sidebar-1">
    注意事项
  </div>

  <div class="left" id="main-left">
    <%= jobware_form_for @company, :use_fieldset => false do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>
      <%= f.submit "提交", :class => "right button" %>
    <% end %>
  </div>

  <div class="clearer">&nbsp;</div>
</div>