<% title @company.name %>

<script type="text/javascript">
  $(function() {
    $('#main-left').tabs();
  });
</script>
<div class="main" id="main-two-columns-right-sidebar">

  <!-- ### left main side -->
	<div class="left" id="main-left">
    <ul class="larger">
      <li><a href="#fragment-1"><span>公司信息</span></a></li>
      <li><a href="#fragment-2"><span>该公司所有工作</span></a></li>
    </ul>

	  <div id="fragment-1"><%= render "jobs/tab_of_company", :company => @company %></div>
    <div id="fragment-2"><%= render "jobs/tab_of_other_jobs", :jobs => @company.jobs.opened, :company => @company %></div>
  </div> <!-- end of left zone -->


  <!-- ### right side part -->
	<%= render "shared/ads/right_side_ads" %>
	<div class="clearer">&nbsp;</div>
</div>