<% title "取现" %>

<div class="post">
  <div class="post-title"><h2>取现</h2></div>
</div>
<div class="content-separator-quite"></div>

<%= jobware_form_for :transaction, :url => jobseeker_transactions_path, :use_fieldset => false do |f| %>
  <%= f.text_field :amount, :label => "金额", :hint => "请输入需要充入的金额。" %>
  <%= f.submit "充值", :class => "button" %>
<% end %><h1>Partner::Transactions#new</h1>
<p>Find me in app/views/partner/transactions/new.html.erb</p>
