<% title("发布 “#{@ad.display_type_humanize}” 广告") %>

<ul id="mainNav" class="threeStep" style="margin: 0">
	<li class="current"><a title=""><em>第一步：发布</em><span>填写广告信息。</span></a></li>
	<li><a title=""><em>第二步：激活</em><span>用相应的点数支付广告。</span></a></li>
	<li class="mainNavNoBg"><a title=""><em>第三步：审核</em><span>等待审核通过后就能立刻展示您的广告。</span></a></li>
</ul>
<div class="clearer">&nbsp;</div><br>

<%= jobware_form_for @ad, :url => company_ads_path(:type => params[:type]), :title => "发布 “#{@ad.display_type_humanize}” 广告", :html => {:multipart => true} do |f| %>
  <%= render :partial => @template, :locals => {:f => f} %>
  <%= f.hidden_field :display_type %>
  <%= f.submit "发布", :class => "right button", :disable_with => "提交中..." %>
<% end %>