<div class="section network-section">
	<div class="section-title">紧急招聘</div>
	<div class="section-content">
	  <% show_no_record(@urgent_jobs = Ad.urgent_jobs) do %>
		<ul class="nice-list">		  
		  <% @urgent_jobs.each do |ad| %>
			<li>			  
			  <%= link_to ad.name, ad.url, :title => ad.desc %>
			  <span style="font-weight: bold; float: right;"><%= ad.location %></span>
			</li>
		  <% end %>
		</ul>
		<% end %>
	</div>
</div>