<% title "高级服务" %>

<table class="data-table">
	<tr>
	  <th>服务名称</th>
		<th>描述</th>
		<th>价格</th>
		<th></th>
	</tr>
	<% @services.each do |service| %>
	<tr class="even">
	  <td><%= service.name %></td>
		<td><%= raw service.desc %></td>
		<td><%= format_price service.price %></td>
		<td>
		  <%= link_to "购买", jobseeker_service_path(service) %>
		</td>
	</tr>
  <% end %>
</table>