<% title "充值" %>

<div class="post">
  <div class="post-title"><h2>充值</h2></div>
</div>
<div class="content-separator-quite"></div>

<%= jobware_form_for :transaction, :url => jobseeker_transactions_path, :use_fieldset => false do |f| %>
  <%= f.text_field :amount, :label => "充值金额", :hint => "请输入需要充入的金额。" %>
  <%= f.submit "充值", :class => "button" %>
<% end %>