<% title("发布岗位") %>

<ul id="mainNav" class="threeStep" style="margin: 0">
	<li class="current"><a title=""><em>第一步：发布</em><span>填写并提交尽量详细的工作信息。</span></a></li>
	<li><a title=""><em>第二步：验证</em><span>等待管理员审核验证。</span></a></li>
	<li class="mainNavNoBg"><a title=""><em>第三步：激活</em><span>激活并展示岗位。</span></a></li>
</ul>
<div class="clearer">&nbsp;</div><br>

<%= jobware_form_for @job, :url => company_jobs_path, :title => "发布岗位" do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= f.submit "提交", :class => "right button" %>
<% end %>