<% title("发布岗位") %>
<div class="text-center middle_bottom_margin">
  <span class="largest bold white small_padding gray_bg">第一步：发布岗位</span>
  <span class="middle_left_margin largest bold white small_padding gray_bg">第二步：等待管理员验证</span>
  <span class="middle_left_margin largest bold white small_padding gray_bg">第三步：激活并展示岗位</span>
</div>

<%= jobware_form_for @job, :url => company_jobs_path, :title => "发布岗位" do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= f.submit "提交", :class => "right button" %>
<% end %>