<h3>首页底部</h3>
<div class="section network-section" style="width: 630px">
	<div class="section-title">推荐企业</div>
	<div class="section-content">
  	<table class="data-table">
  	  <% 2.times.each do %>
  		<tr>
  		  <% 3.times.each do %>
  			<td><%= link_to image_tag(ad.image.url(:bottom_ad), :class => "aligncenter bordered bottom_ad_logo", :alt=> ad.name), ad.url %></td>
  			<% end %>
  		</tr>
  		<% end %>
  	</table>
	</div>
</div>


<h3>栏目右侧</h3>
<div class="section network-section" style="width: 260px">
	<div class="section-title">推荐企业</div>
	<div class="section-content">
		<ul class="ads-list">
		  <% 3.times do %>
		  <li><%= link_to image_tag(ad.image.url(:right_ad), :alt => ad.desc, :class => "aligncenter bordered"), ad.url %></li>
      <% end %>
			<li><a href="/companies" class="more">更多公司 &#187;</a></li>
		</ul>
	</div>
</div>