<div id="slider">  
  <a href="http://www.minininjas.com/" target="_blank">
    <%= image_tag ad.file.url(:original), :alt => ad.name %>
    <span>
      <b>杭州招聘高级rails程序员</b>
    </span>
  </a>
  <a href="http://www.minininjas.com/" target="_blank">
    <img src="http://workshop.rs/projects/coin-slider/games/mini_ninjas.jpg" alt="Mini Ninjas"/>
    <span>
      <b>杭州招聘高级rails程序员</b>
    </span>
  </a>
</div>