<h1 class="text-center" style="padding: 2em;">
  <img src="/images/alipay_logo.gif" />
  <p>正在转向支付宝，请稍候...</p>
</h1>

<div class="hidden">
  <% payment_service_for "#{Time.now.to_i+rand(10000)}",
                         ActiveMerchant::Billing::Integrations::Alipay::ACCOUNT,
                         :service => :alipay,
                         :html => { :id => 'payment-form', :method => :get } do |service| %>
    <% service.total_fee @charge_amount %>
    <% service.extra_common_param current_user.id %>
    <% service.seller :email => ActiveMerchant::Billing::Integrations::Alipay::EMAIL %>
    <% service.error_notify_url url_for(:only_path => false, :action => 'error') %>
    <% service.notify_url url_for(:only_path => false, :action => 'notify') %>
    <% service.return_url url_for(:only_path => false, :action => 'done') %>
    <% service.show_url "http://itjob.fm" %>
    <% service.body '向itjob.fm充值。' %>
    <% service.charset "utf-8" %>
    <% service.service ActiveMerchant::Billing::Integrations::Alipay::Helper::CREATE_DIRECT_PAY_BY_USER %>
    <% service.payment_type 1 %>
    <% service.subject "ITJob.fm 账户充值 #{@charge_amount}元" %>
    <% service.sign %>
  <% end %>
</div>

<script>
$(function(){
  $('#payment-form div').remove();
  $('#payment-form').submit();
});
</script>