<div class="section network-section">
	<div class="section-title">推荐公司</div>
	<div class="section-content">
		<ul class="ads-list">
		  <% 3.times do %>
		  <li><a href="#"><img src="/images/logos/3yen_logo_en.jpg" alt="" class="aligncenter bordered" /></a></li>
		  <li><a href="#"><img src="/images/logos/akihabaranews_logo_en.jpg"  alt="" class="aligncenter bordered" /></a></li>
		  <li><a href="#"><img src="/images/logos/amn_logo.png"  alt="" class="aligncenter bordered" /></a></li>
		  <li><a href="#"><img src="/images/logos/thepinkcow_logo_en.jpg"  alt="" class="aligncenter bordered" /></a></li>
		  <li><a href="#"><img src="/images/logos/akihabaranews_logo_en.jpg"  alt="" class="aligncenter bordered" /></a></li>
      <% end %>
			<li><a href="/companies" class="more">更多公司 &#187;</a></li>
		</ul>
	</div>
</div>