<div class="section network-section">
	<div class="section-title">紧急招聘</div>
	<div class="section-content">
		<ul class="nice-list">
		  <% 5.times do %>
			<li><a href="#">10-15万年薪 在 <span style="font-weight: bold">杭州</span> 招 <span style="font-weight: bold">php项目经理</span></a></li>
			<li><a href="#">20-30万年薪 在 <span style="font-weight: bold">杭州</span> 招 <span style="font-weight: bold">RIA高级程序员</span></a></li>
		  <% end %>
		</ul>
	</div>
</div>