<% content_for :content do %>
<div class="main" id="main-two-columns">
  <!-- ### main content -->
  <div class="right" id="main-right">
    <%= yield %>
  </div>

  <!-- ### left side menu part -->
  <%= render "shared/menu/jobseeker" %>
</div>
<% end %>

<%= render :file => current_layout %>