<% content_for :content do %>
<div class="main" id="main-two-columns">
  <!-- ### main content -->
  <div class="right" id="main-right">
    <%= yield %>
  </div>

  <!-- ### left side menu part -->
  <%= render "shared/menu/partner" %>
</div>
<% end %>

<% content_for :footer_ad_zone do %>
  <div class="clearer">&nbsp;</div>
<% end %>

<%= render :file => current_layout %>