<!DOCTYPE html>

<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8" />
  <title><%= yield :title %></title>
</head>

<body>
  <div style="width: 800px; margin: 50px auto 100px auto">
    <%= yield %>
  </div>
</body>
</html>
